@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Razvoj Softvera II</h1>
    <p>Za više primjera oko CI i CD može se pogledati <a href="https://docs.microsoft.com/aspnet/core">ovdje</a>.</p
    <p> Verzija 1.0.1.101
</div>
